.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog a{
    color: #d7cfce;
    text-decoration: none;
}

.dialogsItems .active{
    color: #f1c40f;
}

.messages {
    padding: 10px;
}

